*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1717cc;
    font-family: "Helvetica Neue",Helvetica,Arial;


}

header {
    background-color: rgb(89, 219, 236);
    box-shadow: 0 5px 1em white;


    border-radius: 5px;
    border: solid rgb(116, 116, 116);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    font-size: 2.5rem;
    text-align: center;

    border: solid #000;
    border-radius: 15px;
    width: 50%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10% auto;

    background-color: rgb(89, 219, 236);
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-int-out;
    transition: all 0.3s ease-int-out;
    background-color: #fff;
}

@media(max-width:768px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(89, 219, 236);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-branding {
        border: solid;

    }

    ul{
        border-radius: 5px;
        border: solid rgb(116, 116, 116);
    }

    p{
        width: 80%;
    }
}